/*.banner {
   padding-top: 63px;
}*/

$color-verde: #8AA236;
$color-azul: #29526D;
$color-morado: #5F2871;

h2 {
   text-align: center;
   font-size: 35px;
   color: white;
}

.seccion-verde {
   background-color: $color-verde;
   //height: 1400px;
   overflow: hidden;
}

.seccion-azul {
   background-color: $color-azul;
   //height: 1400px;
   overflow: hidden;
}

.seccion-morada {
   background-color: $color-morado;
   overflow: hidden;
}


section>.container, footer {
   margin-top: 100px;
   margin-bottom: 100px;
}

.seccion-info {
   display: flex;
   //margin: 100px 0;
   align-items: flex-start;
   flex-wrap: wrap;
   margin-top: 150px;
   margin-bottom: 150px;
   @media screen and (max-width: 767px) {
      margin-top: 100px;
      margin-bottom: 100px;
   }
   a {
      //background-color: black;
      //display: flex;
      width: 25%;
      @media screen and (max-width: 767px) {
         width: 50%;
      }
      position: relative;
      transition: all .5s ease;
      .item-icon {
         position: absolute;
         display: none;
         width: 100%;
         height: 100%;
         align-items: center;
         justify-content: center;
      }
      img {
         width: 100%;
      }
      i {
         //position: absolute;
         color: $color-menu;
         font-size: 5em;
         //transition: all .5s ease;
         //display: none;
      }
   }
   &:hover a {
      opacity: .5;
   }
   a:hover {
      opacity: 1;
      .item-icon {
         display: flex;
      }
   }
}
/*
Seccion contacto
*/
.contacto {
   display: flex;
   //flex-direction: column;
   width: 100%;
   @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      //align-items: center;
      .items-flex {
         width: 92%!important;
         margin: 0 auto!important;
         &.mapa {
            min-height: 550px;
            margin-top: 10px!important;
            width: 89.5%!important;
         }
         &.texto {
            width: 85%!important;
            min-height: 330px;
            margin-top: 10px!important;
         }
      }
   }
   .items-flex {
      width: 30%;
      margin-right: 5px;
      &.mapa {
         width: 70%;
         position: relative;
         margin-right: 0;
         iframe {
            position: absolute;
         }
      }
      &.texto {
         position: relative;
         width: 70%;
         //width: 65%;
         background-color: #fff;
         padding: 15px;
         text-transform: lowercase;
         margin-bottom: -3px;
         //margin: 35px 25px;
         p:first-letter, h3:first-letter {
            text-transform: uppercase;
         }
      }
      >div {
         text-align: left;
         background-color: white;
         margin-bottom: 5px;
         //border-bottom: 2px solid transparent;
         //border-left: 2px solid white;
         overflow: hidden;
         &:first-child {
            text-align: center;
         }
         &:last-child {
            margin-bottom: -4px;
         //   background-color:white;
         //   border-top: 2px solid white;
         }
         p {
            padding: 0 20px;
            font-weight: bold;
            font-size: 20px;
         }
      }
      .texto-flex {
         display: flex;
         flex-wrap: wrap;
         padding-bottom: 25px;
         >h3 {
            width: 100%;
         }
         ul{
            margin: 0 0 25px 0;
            text-transform: none;
         }
      }
      .texto-flex-item {
         width: (100% / 3);
         @media screen and (max-width: 480px) {
            width: 100%;
            ul {
               margin: 0;
            }
         }
      }
   }
}
/*calidad-educativa*/
.calidad-educativa {
   color: white;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   h2 {
      width: 100%;
   }
   p {
      text-align: justify;
      font-size: 20px;
   }
   strong {
      font-size: 25px;
   }
   li {
      font-size: 20px;
   }
   ol>li{
      padding-left: 5px;
   }
   .calidad-educativa-items {
      flex-basis: 40%;
      border: 2px solid white;
      border-radius: 20px;
      padding: 0 20px 10px 20px;
      margin-top: 20px;
      @media screen and (max-width: 767px) {
         flex-basis: 90%;
      }
      &.texto {
         flex-basis: 90%;
         ol {
            list-style-type: lower-latin;
         }
      }
   }
}
.contenedor {
   height: 0;
   overflow: hidden;
   padding-bottom: 56.25%;
   padding-bottom: 50%;
   padding-top: 30px;
   position: relative;
   width: 93%;
   margin: 20px auto;
   iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
   }
}
.encuesta-piloto {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: stretch;
   &:hover .encuesta-piloto-items {
      transition: all .8s ease;
      opacity: .5;
      &:hover {
         opacity: 1;
      }
   }
   .encuesta-piloto-items {
      border: 2px solid white;
      text-align: center;
      margin-top: 20px;
      width: 250px;
      border-radius: 20px;
      text-decoration: none;
      position: relative;
      display: flex;
      align-items: center;
      transition: all .8s ease;
      i {
         position: absolute;
         color: white;
         top: 0;
         left: 0;
         font-size: 2em;
         width: 100%;
         height: 100%;
         display: none;
         align-items: center;
         justify-content: center;
         font-size: 5em;
         background-color: rgba(0,0,0,0.4);
         border-radius: 20px;
      }
      &:hover i {
         display: flex;
      }
   }
   h3 {
      color: white;
      margin: 0;
      padding: 1.5em;
   }
}
.seccion-clientes, .seccion-testimonios {
   .owl-stage-outer {
      z-index: 9;
   }
   .owl-dots {
      display: none;
   }
   .owl-nav {
      margin: 0;
      position: absolute;
      top: 42%;
      width: 100%;
      .owl-prev, .owl-next {
         background-color: transparent;
         float: left;
         margin-left: -50px;
         color: white;
         &:hover {
            background-color: transparent;
         }
      }
      .owl-next {
         float: right;
         margin-right: -50px;
      }
   }
   .owl-clientes {
      width: 90%;
      margin: 0 auto;
   }
}
/*Seccion de clientes*/
.seccion-clientes {
   .item {
      display: flex;
      align-items: center;
      //border: 1px solid white;
      height: 230px;
      div {
         align-self: flex-start;
         margin: 0 1em;
      }
      img {
         border-radius: 50%;
         width: 200px;
         height: 200px;
      }
      p {
         color: white;
         font-size: 20px;
         &:last-child {
            font-weight: bold;
         }
      }
      @media screen and (max-width: 550px) {
         display: block;
         height: auto;
         img {
            margin: 0 auto;
         }
         div {
            margin: 50px 2.5em 0 2.5em;
         }
      }
   }
}
/*seccion testimonios*/
.seccion-testimonios {
   //margin: 200px 0;
   h3 {
      font-size: 25px;
      color: white;
      margin: 35px;
   }
   div>p {
      color: white;
      margin: 1em;
      font-weight: bold;
      &:last-child {
         font-weight: normal;
      }
   }
   .content-video{
      height: 0;
      overflow: hidden;
      padding-bottom: 56.25%;
      padding-top:30px;
      position: relative;
      iframe, object, embed, video {
         width: 100%;
         left: 0;
         position: absolute;
         top: 0;
         width: 100%;
      }
      @media screen and (max-width: 550px) {
         padding-bottom: 63.25%;
      }
   }
   .owl-nav {
      top: 36%;
   }
}
footer {
   img {
      width: 150px;
   }
}
.footer {
   display: flex;
   flex-wrap: wrap;
   margin-top: 20px;
}
.footer-item {
   //border: 1px solid red;
   width: 20%;
   //height: 150px;
   &:first-child {
      width: 40%;
   }
   p {
      margin: 0;
      padding: 25px 50px 0 0;
      text-align: justify;
   }
   ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 15px;
      list-style: none;
      li {
         width: 100%;
         margin: 10px 0;
      }
   }
   a {
      text-decoration: none;
      color: black;
   }
   &.social {
      a {
         background-color: $color-morado;
         color: white;
         width: 50px;
         height: 50px;
         border-radius: 50%;
         font-size: x-large;
         display: flex;
         justify-content: center;
         align-items: center;
         margin: auto;
      }
   }
}
@media screen and (max-width: 680px) {
   footer {
      text-align: center;
   }
   .footer-item {
      width: 100%!important;
      p {
         padding: 0 25px 25px 25px;
      }
      ul {
         padding: 0;
      }
      &.social {
         ul {
            justify-content: space-around;
         }
         li {
            width: auto;
         }
      }
   }

}